footer {
  height: 80px;
  text-align: center;
  width: 100%;

  p {
    font-size: .8em;
  }

  ul {
    display: flex;
    justify-content: center;
    padding: 0;
    li {
      margin: 0 .5em;
      font-size: 2em;
      a {
        transition: color linear 0.2s;
        &:hover {
          color: darken($action-color, 15)
        }
      }
    }
  }
}
