nav {
  margin-top: 1em;
  width: 100%;

  #logo {
    float: left;
    margin: 3px 32px 0 0;
  }

  h1 {
    line-height: 35px;
    font-size: 2em;
  }

  a {
    color: $base-font-color;
    text-decoration: none;
    font-family: $mono;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    max-width: 90%;
    @include grid-media($neat-grid) {
      padding-left: 64px;
      max-width: 100%;
    }
    li {
      margin-right: 1.5em;
      padding-bottom: .3em;
      border-bottom: 2px solid $background-color;
      &:hover {
        border-bottom-color: $action-color;
      }
    }
  }
}
