#!/usr/bin/env ruby

# Create tag pages items before compilation
preprocess do
  tags = get_tags(@items)
  tags.each do |tag|
    @items.create(
      "<h1>#{tag}</h1>
      <%= render '/tags.html', tag: '#{tag}' %>",
      { title: tag },
      "/tag/#{tag}"
    )
  end
end

# Do not compile images and assets, copy them as is
passthrough '/assets/**/*.{png,js}'

# Compile main SASS file and ignore others that should be included in main
ignore '/assets/css/**/_*'
compile '/assets/css/stylesheet.scss' do
  filter :sass, syntax: :scss
  write item.identifier.without_ext + '.css'
end

# Do not compile meta files, like CNAME
# We will use a custom route, so we can't use passthrough here
compile '/meta/**/*' do
end

compile '/tag/**/*' do
  filter :erb
  layout '/default.html'
end

compile '/feed.erb' do
  filter :erb
end

compile '/**/*' do
  filter :erb
    if item.identifier.ext == 'md'
      filter :kramdown, { enable_coderay: false }
    end
    filter :colorize_syntax,
     :colorizers => { :ruby => :coderay },
     :coderay    => {
       :css => :class,
       :line_numbers => :inline,
       :line_number_anchors => false,
       :bold_every => false
     }
  if item[:kind] == 'article'
    layout '/post.html'
  end
  layout '/default.html'
end

route '/feed.erb' do
  '/feed.xml'
end

route '/meta/**/*' do
  # Routes to root directory by removing meta from the identifier
  # and keeps extension (or lack thereof)
  item.identifier.to_s[5..-1]
end

route '/**/*' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    # Write item with identifier /foo.erb to /foo/index.html
    item.identifier.without_ext + '/index.html'
  end
end

layout '/**/*', :erb
