// Screens
$medium-screen: 768px !default;

// Base defaults
$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;

// Colours
$action-color: #FF4540 !default;
$background-color: #FFF !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$base-font-color: $dark-gray !default;

// Fonts
$sans-serif: 'Open Sans', sans-serif;
$serif: 'Roboto Slab', serif;
$mono: 'Roboto Mono', monospace;
