* {
  margin: 0;
  padding: 0;
  font-family: "Georgia", serif;
  color: #333;
}

body {
  background: #FCFCFC;
}

html,
body {
  height: 100%;
}

hr {
  border-color: #A09F93;
  background-color: #A09F93;
  color: #A09F93;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #CCC;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #CCC;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  line-height: 2 !important;
}

pre {
  background-color: #F3F3F3;
  border: solid 1px #CCC;
  border-radius: 3px;
  padding: 15px 20px;
  overflow: auto;
  white-space: pre;
  margin: 20px 0px;
}

code,
code * {
  font-size: 1em;
  font-family: "Source Code Pro", Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", monospace;
}

p > code,
li > code {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #DDD;
  background-color: #F8F8F8;
  border-radius: 3px;
  white-space: nowrap;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #008793;
}

a:hover {
  text-decoration: underline;
}

#header {
  height: auto;
}

#header * {
  display: inline-block;
  font-family: 'Patua One';
  line-height: 65px;
}

#header h1 a,
#header h1 a:visited,
#header h1 a:hover {
  color: #333;
  font-size: 50px;
  text-decoration: none;
}

#header ul {
  float: right;
  font-size: 18px;
}
#header li {
  margin-left: 10px;
}

#content {
  position: relative;
  height: auto;
  min-height: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

#main {
  position: relative;
  padding: 40px 0 120px 0;
}

#main h1,
#main h1 > a,
#main h2,
#main h3,
#main h4,
#main h5 {
  font-family: 'Raleway', 'DejaVu Sans Light', 'DejaVu Sans', sans-serif;
}

#main h1,
#main h1 > a {
  display: block;
  font-size: 65px;
  line-height: 1em;
  font-weight: 100;
  margin-bottom: 30px;
  margin-top: 30px;
}
#main h1 > a:hover {
  text-decoration: none;
}

#main h2,
#main h3 {
  font-weight: 400;
  font-size: 29px;
}

#main h2 {
  font-size: 29px;
  margin-bottom: 30px;
  margin-top: 30px;
}
#main h3 {
  font-size: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#main h4,
#main h5 {
  font-weight: 200;
  font-size: 100%;
}

#main h4 {
  font-size: 100%;
}
#main h5 {
  font-size: 14px;
}

#main p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

#main ul, #main ol {
  margin: 10px 20px;
}

#main li {
  font-size: 15px;
  line-height: 20px;
}

#main ul li {
  list-style-type: square;
}

#main .post-header {
  text-align: right;
}

#main img {
  max-width: 100%;
  margin: 10px auto;
  display: block;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
}

.clear {
  clear: both;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  text-align: center;
  padding: 10px;
  left: 0;
  right: 0;
}

#footer * {
  font-size: 12px;
  line-height: 1.2;
}

#footer .social li {
  display: inline-block;
  padding: 20px;
}
#footer .social li a {
  font-size: 35px !important;
  color: #dfdfdf;
  transition: 0.5s;
}
#footer .social li a:hover {
  text-decoration: none;
  color: #909090;
}
