<article>
  <% tags = tags_for(@item, { base_url: "/tag/"  }) %>
  <% if tags != '(none)' %>
    <p class="type"><%= tags %></p>
  <% end %>

  <h1><%= @item[:title] %></h1>
  <p class='date'><%= creation_date(@item) %></p>
  <%= yield %>
</article>

<hr />

<div id="disqus_thread"></div>
<script type="text/javascript">
  /* * * CONFIGURATION VARIABLES * * */
  var disqus_shortname = 'larissareis';

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
